/* 
This will be my first comment on the css hw1 file
START DATE: 01.21.26  /
File: MIS 3371 /
Owner:Pablo Calderon /
Last Updated: 2.16.26 /
Simple use of 3 metadat languages put togther by yours truly /
*/



html, body {
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-repeat: no-repeat;
}

header{
    display: flex;
    text-align:right;
    flex-direction: column;
    background-color: #4fbf5387;
}



/**valign="top" align="left" width="20"**/


h1 {
    color: rgb(67, 91, 211);
}


h2 {
    text-align: center;
    color:rgb(36, 70, 11);
    margin-bottom: 3px;

}


.Label-username {
    margin-right: 145px;
}
.Label-password{
    margin-right: 145px;
}

.Label-password2 {
    margin-right: 89px;

}


p {
    padding: 0%;
    margin-bottom: 0px;
    margin-top:0%;
    margin-right: 10px;
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(216, 116, 2);
}


th {
    color:rgb(62, 103, 209);
    font-family: sans-serif;
}


label {
    color: rgb(30, 62, 7);
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}


.Login-submit {
    color:aliceblue;
    background-color: #4fbf5387;
    margin: 10px;
    border: 0px;
    height: 20px;
    width: 200px;
    border-radius: 2px;
    cursor: pointer;
}

.form-box {
    color:rgb(163, 163, 163);
    font-size: 12px;
}



body {
    align-items: center;
    background:linear-gradient(to bottom, rgb(160, 211, 190), rgba(110, 147, 42, 0.294));

}


.submit-button {
    color:aliceblue;
    background-color:rgb(62, 103, 209);
    margin: 5px;
    border: 0px;
    height: 20px;
    width: 80px;
    margin-right: 0px;
    margin-left: 50px;
    border-radius: 2px;
    cursor: pointer;
}

.reset-button {
    color:aliceblue;
    background-color:rgb(216, 116, 2);
    margin: 5px;
    border: 0px;
    height: 20px;
    width: 80px;
    margin-right: 50px;
    margin-left: 0px;
    border-radius: 2px;
    cursor: pointer;
}



form{
    flex-grow: 2;
}

textarea {
    font-family: arial;
    font-size: 12px;
}

h3 { 
    text-align: center;
}

footer {
    background-color: #4fbf5387;;
}

 a {
    text-decoration: none;
 }